@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto_regular/Roboto-Regular-webfont.eot?iefix") format("eot"), url("../fonts/roboto_regular/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/roboto_regular/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/roboto_regular/Roboto-Regular-webfont.svg#webfont") format("svg");
}
@font-face {
    font-family: "Roboto Light";
    src: url("../fonts/roboto_light/Roboto-Light-webfont.eot?iefix") format("eot"), url("../fonts/roboto_light/Roboto-Light-webfont.woff") format("woff"), url("../fonts/roboto_light/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/roboto_light/Roboto-Light-webfont.svg#webfont") format("svg");
}
@font-face {
    font-family: "Roboto Thin";
    src: url("../fonts/roboto_thin/Roboto-Thin-webfont.eot?iefix") format("eot"), url("../fonts/roboto_thin/Roboto-Thin-webfont.woff") format("woff"), url("../fonts/roboto_thin/Roboto-Thin-webfont.ttf") format("truetype"), url("../fonts/roboto_thin/Roboto-Thin-webfont.svg#webfont") format("svg");
}

@font-face {
      font-family: 'smilez';
      src: url('../fonts/smilez/smilez.eot?35005301');
      src: url('../fonts/smilez/smilez.eot?35005301#iefix') format('embedded-opentype'),
           url('../fonts/smilez/smilez.woff?35005301') format('woff'),
           url('../fonts/smilez/smilez.ttf?35005301') format('truetype'),
           url('../fonts/smilez/smilez.svg?35005301#smilez') format('svg');
      font-weight: normal;
      font-style: normal;
    }

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "smilez";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-emo-wink2:before { content: '\e802'; } /* '' */
.icon-emo-unhappy:before { content: '\e803'; } /* '' */
.icon-emo-thumbsup:before { content: '\e804'; } /* '' */

html, body, #topMenuContainer, .bannerNavBar-fixed {
    min-width: 950px!important;
}

html, body, #pageBody {
    height: 100%;
    background-color: #F5F8FA !important;
}

#pageBody {
    margin: 0;
}

a {
    color: #458ac6;
    text-decoration: none;
}

a:hover {
    color: #539EDB;
    text-decoration: underline;
}

/*

top menu


*/

#topMenuContainer {
    background-color: #333333;
    border-bottom: 1px solid #e1e8ed;
    /*box-shadow: 0 0 2px #444444;*/
    box-shadow: 0 1px 5px #444444;
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 1000000!important;
    border-bottom: 0px solid #333333!important;
    margin: 0;
    padding: 0;
}

/*
    semantic resets for the top menu
*/
.ui.secondary.pointing.menu {
    border-bottom: 3px solid #333333!important;
}

.ui.secondary.menu .link.item, .ui.secondary.menu a.item {
    opacity: 1!important;
}

.ui.secondary.inverted.menu .link.item, .ui.secondary.inverted.menu a.item:hover {
    color: #FFFFFF!important;
}

.ui.menu .item > i.icon {
    opacity: 1!important;
}

/*
    END semantic resets for the top menu
*/

.__messages-count {
    box-shadow: 0 0 0 2px #333333;
    font-size: 8px !important;
    left: 1px;
    position: absolute;
    top: 7px;
}

#topMenuContainerInner {
    width: 100%;
    margin: auto auto;
}

#topmenu .item {
    font-size: 14px !important;
    font-weight: bolder;
    line-height: 18px !important;
    float: left;
}

#topmenu .icon {
    font-size: 17px !important;
    line-height: 26px;
}

.topmenuItems {
    width: 100%;
    margin: auto auto;
}

#topgap {

    background-color: #000000;
    height: 38px;
}

/*
****************
****************
****************
*/

#mainProfileImageContainer {
    position: absolute;
    top: -119px;
    left: 20px;
}

#mainProfileImageContainer180 {
    left: 20px;
    position: absolute;
    top: -93px;
}

#mainProfileImage {

    background: none repeat scroll 0 0 #fff;
    border: 5px solid #fff;
    border-radius: 12px;
    height: 205px;
    width: 205px;
    /*height: 180px;
    width: 180px;*/
    position: relative;
    /*box-shadow: 0 1px 1px rgba(136, 153, 166, 0.15);*/
    /*box-shadow: -4px -2px 13px rgba(0, 0, 0, 0.24), 1px 1px 1px rgba(136, 153, 166, 0.24);*/
    box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.24), 1px 1px 1px rgba(136, 153, 166, 0.24);
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 10000;
}

/*.profile-image, .profile-placeholderImage {
    -moz-force-broken-image-icon: 1;
    border-radius: 8px;
    height: 200px;
    left: 0;
    position: absolute;
    top: 0;
    width: 200px;
}*/

.profile-image, .profile-placeholderImage {
    -moz-force-broken-image-icon: 1;
    border-radius: 8px;
    left: 0px;
    position: absolute;
    top: -2px;
    height: 197px;
    width: 197px;
    /*height: 174px;
    width: 174px;*/
}


#edit_profile_image {
    background: url("../assets/overlay_35p.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    color: #ffffff;
    /*height: 100px;*/
    height: 101px;
    left: 0;
    padding: 14px 0 0;
    position: absolute;
    text-align: center;
    top: 100px;
    width: 100%;
    z-index: 10000;
    cursor: pointer;
    border-radius: 0 0 13px 13px;
}

#crop_profile_photo {
    /*box-shadow: -1px -1px 6px rgba(0, 0, 0, 0.24), 1px 1px 1px rgba(136, 153, 166, 0.24);*/
    border: 3px solid #444444;
    border-radius: 5px;
    box-shadow: 18px 19px 19px rgba(0, 0, 0, 0.40), 0px 0px 1px #444444;
    width: 400px;
    position: absolute;
    left: -5px;
    top: -29px;
    z-index: 100000;
    overflow: hidden;
}

#crop_profile_photo > iframe {
    height: 369px;
    width: 100%;
    border: 0px none transparent;
}

#profileAboutMe {
    margin: 25px 0;
}

#profileAboutMe > p {
    color: #787878;
    font-family: roboto thin;
    font-size: 14px;
    font-weight: bolder;
}

#profileAboutMe > p > span {
    font-size: 11px;
    font-weight: 200;
    text-transform: uppercase;
}

.profileEditFooter {
    background-color: #333333;
    border-radius: 0 0 5px 5px;
    color: #ffffff;
    margin: 0;
    min-height: 100px;
    padding: 0;
}

.profileEditFooterInner {
    padding: 20px;
    margin: 0px;
}

#editProfileContainer {
    position: relative;  
}

#editProfileContainer > .ui.bottom.attached.label {
    bottom: 16px;
    position: absolute;
}

#profileDescription {
    margin-bottom: 16px !important;
}
/*

content containers

*/

#contentContainer {

    margin: 20px 0;
}

.contentContainer {
    width: 100%;
    min-height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #e1e8ed;
    border-radius: 6px;
    margin: 0 0 12px;
}

.contentContainerWithHeader_withsilver{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f9f8+28,ffffff+97 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f7f9f8 28%, #ffffff 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(28%,#f7f9f8), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f9f8 28%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f7f9f8 28%,#ffffff 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f7f9f8 28%,#ffffff 97%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f7f9f8 28%,#ffffff 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.containerFrame {
    overflow: hidden;
    position: relative;    
}

.contentContainer > .contentInner {
    margin: 0;
    padding: 12px 16px;
    width: 100%;
    min-height: 200px; 
}

.containerFrame > .colorTop {
    background-color: #5999DD;
    background-color: #b2b2b2;
    /*border-bottom: 1px solid #eeeeee;*/
    margin: -2px 0 0;
    min-height: 8px;
    padding: 0;
    position: relative;
    width: 100%;
}

.containerFrame > .colorFooter {
    background-color: #f8f8f8;
    bottom: -4px;
    height: 18px;
    position: absolute;
    width: 100%;
}

.contentContainer_inner {
    margin: 0;
    padding: 12px 16px;
    width: 100%;
    min-height: 30pxpx; 
}

.interaction_hint {
    background-color: #fafafa;
    border-radius: 3px;
    color: #a1a1a1;
    font-size: 10px;
    margin: 8px 0 0;
    padding: 3px 8px;
    width: 100%;
}

.postInner {
    margin: 0;
    padding: 5px 7px;
    width: 100%;
    overflow: hidden;
}

.postAvatarContainer {
    vertical-align: top;
    position: relative;
    width: 80px;
}

.postContentContainer {
    vertical-align: top;
    width: 100%;
}

.postContentContainer > h4 {
    border-bottom: 1px solid #A9CAE5;
    font-size: 12px;
    margin: 0 !important;
    padding: 0 0 3px !important;
    color: #333333;
    font-weight: bold;
}

.affirm{
    display: inline!important;

}

.affirm_yes {
    padding: 0 3px 0 7px;
}

.affirm_no {
    padding: 0 5px;
}

._statusLoading {
    color: #069b29;
    margin: 0;
    padding: 0 20px 11px;
}

.postContent {
    color: #6d777f;
    font-family: roboto thin;
    font-size: 12px;
    font-weight: bold;
    line-height: 20px;
    min-height: 82px; 
    padding: 4px 20px;
}

.postImageContainer {
    margin: 15px 0 0 0;
} 

.cardFooter {
    font-size: 12px;
    margin: 0;
}

.newWindowLink {
    color: #eeeeee !important;
}

.newWindowLink:hover {
    color: #3B83C0 !important;
}

.cardFooterExtLink {
    float: right;
    font-size: 16px;
    line-height: 19px;
    padding: 0 !important;
    text-align: right;
}
.contentContainer > .ui.ribbon.label {
    left: -15px!important;
    margin: 16px 0 0!important;
}

.contentHeader > h3 {
    font-size: 16px;
    font-weight: normal;
    display: inline;
    color: #6b6b6b;
}

.contentHeader > a {
    font-size: 12px;
    font-weight: normal;
    display: inline;
}

.contentHeader > h3 {
    text-transform: capitalize;
}

.about_strongText {
    color: #9a9a9a !important;
    font-family: "helvetica neue",arial !important;
    font-size: 10px;
    margin: 0;
    padding: 2px 5px 0 0 !important;
    text-transform: uppercase;
}
.about_regularText {
    color: #444444 !important;
    font-size: 13px;
    font-style: normal;
}
.td_about {
    text-align: left;
    vertical-align: top;
    padding: 0 5px
}
.ui.simple.divider.lighter {
    border-top: 1px dashed #eeeeee !important;
    margin: 3px 0 16px;
}

/*

content container left

*/

.contentInnerLeft {
    margin: 0 0 0 15px;
    overflow: hidden;
    padding: 0;
}

h1.profileFirstName {
    font-size: 22px;
    line-height: 26px;
    margin: 16px 0;
}

h2.profileScreenName {
    color: #a1a8ad;
    font-family: roboto thin;
    font-size: 15px;
    font-weight: normal;
    margin: -17px 0 0;
    padding: 0;
}

.contentInnerLeft > p {
    color: #60676c!important;

}

/*

content container middle

*/

.editorContainer {
    margin: 0;
    padding: 12px 16px;
}

.editorContainer > .editor {
    border: 1px solid #e1e8ed;
    border-radius: 5px;
    height: 100px;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    width: 100%;
    padding: 9px;
}

.editorContainer > .editor_btns {
    margin: 5px 0 0 0;
}

#post_imagesContainer {

}

.post_editContainer {

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f9f8+37,ffffff+61,ffffff+97 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f7f9f8 37%, #ffffff 61%, #ffffff 97%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(37%,#f7f9f8), color-stop(61%,#ffffff), color-stop(97%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f9f8 37%,#ffffff 61%,#ffffff 97%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f7f9f8 37%,#ffffff 61%,#ffffff 97%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f7f9f8 37%,#ffffff 61%,#ffffff 97%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f7f9f8 37%,#ffffff 61%,#ffffff 97%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


}
.remove_postImage {
    background-color: #ffffff;
    border-radius: 2px;
    cursor: pointer;
    font-size: 12px;
    height: 15px;
    opacity: 0.56;
    padding: 1px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 17px;
    z-index: 1000;
}

.remove_postImage:hover {
    opacity: 0.7;
}

.post_imageThumb {
    border: 1px solid #eeeeee;
    border-radius: 5px;
    display: block;
    float: left;
    height: 70px;
    margin: 13px 8px 8px 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 70px;
}

.profileHide {
    display: none !important;
}


/*
message feed
*/

.btn_message_delete {
    position: absolute;
    right: 0px;
    top: 0px;
}
.ui.feed > .event {
    position: relative!important;
}

.ui.feed > .event > .content .summary {
    font-size: 12px!important;
    font-weight: normal!important;
}

.ui.feed > .event > .content .date {
    font-size: 11px!important;
}

.ui.feed > .event > .label img {
    cursor: alias;
}

.searchVerticalHeader {
    background-color: #3b83c0;
    border-radius: 5px 5px 0 0;
    margin: 0 !important;
    padding: 1px 10px !important;
}

.searchVerticalHeader > h3 {
    color: #FFFFFF;
    font-size: 13px;
    margin: 0;
    padding: 4px 0 !important;
}

#searchVerticalInner {
    overflow: scroll;
}

.searchPreview {
    color: #a6a6a6;
    font-family: "helevtica neue", arial;
    font-size: 11px;
    margin: 0;
    padding: 4px 0 !important;
    overflow: hidden;
    text-overflow: ellipsis;
}
.searchEvent {
    background-color: #ffffff !important;
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
    padding: 8px !important;
    max-width: 100%!important;
    width: 100%!important;
}

.searchEvent:hover {
    background-color: #f5f8fa !important;
}

.searchEvent.__active {
    background-color: #F7F8F9 !important;

}

#searchInner {
    position: relative;
}

.contentContainerInner {
    margin: 0;
    padding: 10px 10px 0px;
}

.contentContainerInner > .contentSection{
    margin: 0;
    padding: 0;
}

.contentSection > .ui.ribbon.label {
    left: -25px!important;
}

.searchEditcontentContainerInner {
    margin: 0;
    padding: 20px 0 30px 20px;
}

.contentContainerInner > h1 {
    color: #3b83c0;
    display: inline;
    font-family: roboto thin;
    font-size: 26px;
    font-weight: normal;
    letter-spacing: -1px;
    line-height: 30px;
    margin: 0;
    padding: 0;
}

.rightEditorButtons {
    display: block;
    float: right;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;
}
#btn_closeSearchEdit {
    color: #3b83c0;
    display: inline;
    font-size: 14px;
    line-height: 14px;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

#btn_newSearch {
    color: #3b83c0;
    display: inline;
    font-size: 14px;
    line-height: 14px;
    margin: 0 24px 0 0;
    padding: 0;
    cursor: pointer;
}

#btn_closeSearchFavEdit {
    color: #3b83c0;
    display: inline;
    font-size: 14px;
    line-height: 14px;
    margin: 0 24px 0 0;
    padding: 0;
    cursor: pointer;
}

.summary > table > tbody > tr > td > a {
    color: #444444!important;
    font-weight: bold;
}

.ui.feed > .event > .content .summary > table {
    width: 100%;
}

 
.summary > table {
    width: 100%;
    max-width: 100%;
}

.summary > table > td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchHeaderLeft {
    font-size: 12px;
    margin: 0;
    text-align: left;
    vertical-align: top;
    width: 50%;
    max-width: 85px;
    min-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.searchHeaderRight{
    font-size: 10px;
    margin: 0;
    text-align: right;
    vertical-align: top;
    width: 50%;
    color: #dddddd;
    max-width: 50%;
    min-width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.searchPreview > span {
    width: 100%;

}

/*.hidden_image {
    left: 38px;
    position: absolute;
    top: -48px;
    width: 125px;
    z-index: 1000000;
}

.hidden_image > img {
    border: 5px solid #ffffff;
    border-radius: 100px;
    box-shadow: 0 0 3px #dbdbdb;
}
*/


.searchReplyContainer {
    background-color: #EFF2F4;
    border-radius: 5px 5px 0 0;
    min-height: 27px;
    padding: 14px;
}

.searchButtonArea {
    margin: 12px 0 0;
    padding: 0;
}

#searchReply {
    border: 1px solid #dadada;
    border-radius: 6px;
    color: #575757;
    font-family: "helvetica neue",arial;
    font-size: 13px;
    font-weight: normal;
    max-width: 100% !important;
    min-height: 50px !important;
    min-width: 100% !important;
    padding: 5px;
    width: 100% !important;
}

.searchContent {
    color: #767676;
    font-family: "helvetica neue",arial;
    font-size: 13px;
    font-weight: normal;
    margin: 10px 0 0;
    min-height: 100px;
}

.searchContainer {
    background-color: #ffffff;
    border-radius: 0 0 8px 8px;
    min-height: 100px;
    padding: 14px;
}

.hidden_image_img {
    cursor: alias;
    position: relative;

}

.hidden_image {
    height: 50px !important;
    left: 83px;
    position: absolute;
    top: -2px;
    width: 120px;
    z-index: 1000000;
}

.hidden_image > img {
    border: 5px solid #ffffff;
    border-radius: 150px;
    box-shadow: 0 0 3px #dbdbdb;
    width: 100%;
}

.searchEvent > .label > .hidden_image {
    height: 50px !important;
    left: 43px;
    position: absolute;
    top: -7px !important;
    width: 120px;
    z-index: 1000000;
}

._searchConversationLabel {
    background-color: #f1f4f6;
    border-radius: 5px;
    color: #d2d2d2;
    display: block;
    font-size: 13px;
    margin: 0 auto 12px !important;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
}

#contentCenterCol {
    min-height: 1200px!important;
}

.noMessagesFound {
    color: #dddddd;
    margin: 0;
    text-align: center;
}

.search_read_sticker {
    background-color: #DFF0FF;
    border: 1px solid #7BB6E1;
    border-radius: 4px;
    color: #7BB6E1;
    font-size: 10px;
    padding: 1px 6px;
    position: absolute;
    right: 15px;
    top: 9px;
}

#__searchViewBlank {
    color: #DEE4E8;
    font-size: 188px;
    letter-spacing: -5px;
    line-height: 188px;
    margin: 0;
    padding: 12px 0;
    text-align: center;
    text-shadow: -1px -2px 0 #ffffff;
    cursor: default;
}

#__searchViewBlank>span{
    font-size: 100px;
    line-height: 136px;
}

.contentCenterColInner {
    margin: auto;
}
.contentContainerSearch {
    min-height: 100px;
    background-color: #FFFFFF;
    border: 1px solid #A9CAE5;
    border-radius: 6px;
    margin: 0 0 12px;
    width: 100%;
}
.contentContainerSearch:hover {
    background-color: #F7FAFC;
    border: 1px solid #137FD8;
    box-shadow: 0 0 12px #D7E7F2;
    cursor: pointer;
}

.contentSectionInner {
    margin: 0;
    min-height: 20px;
    padding: 10px 10px 25px;
}

.contentSectionInner.sectionClosed {
    border-bottom: 1px solid #eeeeee;
    cursor: pointer;
    position: relative;
    height: 40px !important;
    min-height: 0 !important;
    padding: 10px 10px 40px!important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f7f7f7+100&amp;0+0,1+78 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(249,249,249,1) 78%, rgba(247,247,247,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(78%,rgba(249,249,249,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(249,249,249,1) 78%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(249,249,249,1) 78%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(249,249,249,1) 78%,rgba(247,247,247,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(249,249,249,1) 78%,rgba(247,247,247,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */

}

.contentSectionInner.sectionClosed::after {
    color: #dddddd;
    content: "click here to open section";
    font-size: 14px;
    left: 50%;
    margin: 0 0 0 -73px;
    position: absolute;
    text-shadow: 1px 2px 0 #ffffff;
    top: -1px;
}

.__smaller {
    font-size: 12px!important;
    font-weight: normal !important;
}
.sectionContent.sectionClosed {
    display: none;
}

.option_adultSearchHeader {
    margin: 0 0 22px;
}

.option_adultSearchHeader > p {
    color: #777777;
}

/*

2 column or 3 column responsive handler

*/

/*
    2 column handler
*/

@media only screen and (max-width:1200px) {
  
    #btn_likeUserCenter {
        display: block;
    }
    #btn_likeUserRight {
        display: none;
    }
    .containerSharedLeft {
        display: block;
    }
    .containerSharedRight {
        display: none;
    }
    .cancelButtonRight {
        display: none !important;
    }
    .cancelButtonCenter {
        display: block !important;
    }

    .search-column {
        float: left;
        margin: 0;
        width: 50%;
    }

    .search-column-inner {
        margin: 0;
        padding: 0.1em 0.7em;
    }

    .contentInnerLeft {
        margin: 0!important;
    }

}

/*
    3 column handler
*/

@media only screen and (min-width:1200px) {
    
    #btn_likeUserCenter {
        display: none;
    }
    #btn_likeUserRight {
        display: block;
    }
    .containerSharedLeft {
        display: none!important;
    }
    .containerSharedRight {
        display: block!important;
    }
    .cancelButtonRight {
        display: block !important;
    }
    .cancelButtonCenter {
        display: none !important;
    }
    .contentCenterCol {
        width: 75% !important;
    }
    .contentCenterColInner {
        margin: auto;
        padding-left: 8px;
    }
    .search-column {
        float: left;
        margin: 0;
        width: 33%;
    }
    .search-column-inner {
        margin: 0;
        padding: 0.1em 0.7em;
    }
}

#topMenuContainerInner {
    width: 96%;

}

.contentRightCol_HIDDEN {
    display: none !important;
}


@media only screen and (max-width:1200px) {
  
    .contentRightCol{
        display: none !important;
    }

    .ui.column.grid > .column[class*="four wide"], .ui.grid > .column.row > .column[class*="four wide"], .ui.grid > .row > .column[class*="four wide"], .ui.grid > .column[class*="four wide"] {
        width: 28% !important;
    }

    .ui.column.grid > .column[class*="eight wide"], .ui.grid > .column.row > .column[class*="eight wide"], .ui.grid > .row > .column[class*="eight wide"], .ui.grid > .column[class*="eight wide"] {
        width: 62% !important;
    }

    #topMenuContainerInner {
        width: 90%;

    }
}

@media only screen and (max-width:675px) {
  
    .ui.primary.button {
        display: block !important;
        margin-bottom: 12px !important;
    }
    .helpvideo {
        display: block !important;
        margin-bottom: 12px !important;
    }
}

*::-moz-selection {
    background-color: #009DFF !important;
    color: #FFFFFF;
}

.ui.input.focus input,
.ui.input input:focus {
  border-color: rgba(39, 41, 43, 0.3);
  background-color: #009DFF !important;
  color: #FFFFFF;
  box-shadow: none;
}

.disablePanZoom 
{
    -ms-touch-action: none; /* Shunt all pointer events to JavaScript code. */
}

/*over rides*/
.ui.selection.dropdown {
    min-width: 130px !important;
}

.ui.grid {
    width: 99%!important;
    margin: 0!important;
}

.ui.dropdown .menu > .header {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: none !important;
}

.ui.list .item a {
    color: #DDDDDD !important;
}

.cart_listItem {
    font-weight:normal !important;
}

.cart_item_header {
    font-size: 13px;
    line-height: 18px;
    padding-top: 3px;
}

.cartItem {
    margin-top: 5px;
}

.removable {
    cursor: pointer;
    color: #DDDDDD;
}

.removable:hover {
    color: #C10B0B;
}

.ui.list .list > .item .header, .ui.list > .item .header-list {
    font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin: 0;
}

#btn_mySearch {
    font-size: 12px;
    font-weight: normal !important;
    line-height: 1;
    padding-top: 8px;
    padding-bottom: 6px;
}

#btn_mySearchDrop {
    font-size: 12px;
    font-weight: normal !important;
    line-height: 1;
    padding-top: 8px;
    padding-bottom: 6px;
}

.comboHeaderTop {
    color: #a1a1a1;
    font-family: roboto thin;
    font-size: 10px;
    margin: 6px 0 0 0;
    line-height: 12px;
}

.comboHeaderTitle {
    color: #6e6e6e;
    font-family: roboto thin;
    font-size: 26px;
    line-height: 30px;
    margin: -3px 0 0 -2px;
}

.searchDetails {
    border-top: 1px dotted #dddddd;
    color: #808080;
    font-family: roboto thin;
    font-size: 12px;
    font-weight: bold;
    line-height: 23px;
    margin: 12px 0;
    padding: 10px 0;
}

.ui.menu.fixed {
    border-radius: 0.2857rem!important;

}

#searchVertical {
    position: fixed;
    z-index: 10000;
}

#searchMenuContainer {
    position: fixed;
    z-index: 10000;
}







